/* Header*/
.rgf-logo {
	margin: 3% 0%;
}

.apply-info {
	font-size: 1.1em;
	color: #999;
}

.apply-jobtitle {
	font-style: italic;
	color: #666;
}

.apply-info > span + span:before {
	content: "; ";
}

header .col-xs-10 {
	padding: 2% 0%;
}

/* Background */
.form-bkg {
	background: url('../assets/bkg.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 100%;
}

/* Progress indicator*/
.progress-indicator {
	overflow: hidden;
	margin: 20px;
}

.progress-stage {
	position: relative;
	width: auto;
	height: 30px;
	margin-right: 20px;
	float: left;
	overflow: hidden;
}

.progress-circle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #0d80bc;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	font-size: 1.3em;
	padding-top: 2px;
	color: #fff;
}

.progress-txt {
	font-size: 1.3em;
	color: #666;
	padding: 2px 0% 0% 40px;
}

.disabled .progress-circle {
	background-color: #c3c3c3;
}

.disabled .progress-txt {
	color: #c3c3c3;
}

/* Success message */
.msg-success {
	background-color: #74c399;
	padding: 5px 10px;
	margin-right: 20px;
}

.msg-success p {
	font-size: 1.1em;
	color: #fff;
}

/* Form field -general styles*/
.form-field .container {
	min-height: 400px;
	-webkit-box-shadow: rgba(153,153,153,0.5) -1px 5px 3px;
	box-shadow: rgba(153,153,153,0.5) -1px 5px 3px;
	background-color: #fff;
	padding: 4% 5%;
}

.form-control:focus{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(102, 175, 233, 0.6);
}

.txt-blue {
	color: #0d80bc;
}

/* Form field -sign in, login forms*/
.form-field .col-xs-6:first-child {
	min-height: 280px;
	border-right: solid 1px rgba(153,153,153,0.3);
}

.form-field .col-xs-6:last-child {
	padding-left: 3%;
}

/* Form field -change/forgot pw and signup talent comm. form*/
.form-center {
	padding-top: 30px;
}

.form-center .container {
	padding-top: 1%;
}

.form-center form{
	width: 45%;
	margin: 0 auto;
}

.form-center p {
	color: #666;
}

.form-talent {
	padding-top: 2% !important;
}

.form-talent .col-xs-6 {
	border-right: none !important;
}

.closer {
	margin-bottom: 0px;
}

.label-xs {
	font-size: 0.9em;
	color: #666;
}

/* Talent community*/
.job-alert {
	padding: 2%;
	margin: 5% 0%;
	background-color: rgba(230,242,245,0.2);
	border: solid 1px rgba(186,186,186,0.4);
	border-radius: 5px;
}

.job-alert select{
	width: 50%;
}

/* Buttons */
.form-field button {
	width: 45%;
	height: 40px;
	background-color: #0d80bc;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	margin-top: 5px;
}

.form-field button:hover {
	background-color: #fff;
	border: solid 1px #0d80bc;
	color: #0d80bc;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.btn-grey{
	background-color: #999 !important;
}

.btn-grey:hover {
	background-color: transparent !important;
	border: solid 1px #999 !important;
	color: #666 !important;
}

.btn-load{
	width: 70% !important;
}

.btn-complete{
	width: 80% !important;
}

.btn-cal{
	width: 100% !important;
	height: 30px !important;
	background-color: #999 !important;
	color: #fff !important;
	font-size: 12px !important;
	text-transform: none !important;
	margin: 2px 0px 2px 5px !important;
}

/* Form field -app and review form*/
.app-form .container {
	padding: 4% 10%;
}

.form-block .form-group:first-child {
	border-bottom: solid 1px rgba(153,153,153,0.3);
	margin-bottom: 30px;
}

.form-block {
	padding: 3% 0%;
}

.form-block:first-child {
	padding: 0%;
}

.label-head {
	text-transform: uppercase;
	color: #0d80bc;
}

.app-form label {
	text-align: right;
	color: #525252;
}

.input-inline div{
	float: left;
}

.input-inline div:first-child{
	width: 20%;
	margin-right: 3%;
}

.input-inline div:last-child{
	width: 77%;
}

.input-salary div:first-child{
	width: 15%;
	margin-right: 0;
	padding-top: 5px;
}

.input-salary .salary{
	width: 60% !important;
}

.input-salary div:last-child{
	width: 25%;
}

.review-form .container {
	padding: 4% 12%;
}

.review-form .col-xs-2 {
	text-align: right;
	color: #0d80bc;
}

.review-form .col-xs-2 a {
	display: inline-block;
	font-size: 1.1em;
	margin: 10px 0px;
}

.cloud-drive{
	width: 140px;
	float: left;
}

/* dropdown option list*/
select {
	background-color: #fff;
	height: 35px;
	border: solid 1px rgba(153,153,153,0.5);
	border-radius: 5px;
	vertical-align: baseline;
}

.pull-left {
	margin-right: 10px;
}

.salary {
	width: 100% !important;
}

/* search bar -cfm page */
.search-bar .float-left {
	float: left;
	margin: 10px 10px 10px 0px;
}

.search-bar .float-left:first-child {
	width: 82%;
}

.search-bar .float-left:last-child {
	width: 15%;
	margin: right:  0px;
}

.search-bar input {
	width: 100%;
	height: 40px;
	padding-left: 35px;
}

.search-bar .glyphicon {
	position: absolute;
	color: #999;
	left: 30px;
	top: 23px;
}

.search-bar .btn {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: solid 1px #3db0e6;
	background-color: #fff;
	font-size: 1.1em;
	color: #333;
	text-transform: uppercase;
	margin-top: 0px;
}

.search-bar .btn:hover {
	color: #fff;
	background-color: #3db0e6;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.search-secondary .search-fields {
	margin: 20px 0px;
	padding: 0px 15px;
	position: relative;
	border: solid 1px rgba(153,153,153,0.3);
	border-radius: 3px;
	background-color: rgba(233,233,233,0.68);
}

.search-secondary .float-left:first-child {
	width: 80%;
}

.search-secondary .float-left:last-child {
	width: 17%;
	margin-right: 0px;
}

/* Modal */
.modal-content {
	width: 450px;
	margin: 30% auto;
}

.modal-body {
	padding: 30px 30px 0px 30px;
}

.modal-title {
	font-size: 20px;
	color: #0d80bc;
	margin-bottom: 10px;
}

.modal-footer{
	padding: 10px 0px 20px 0px;
}

.btn-ok {
	width: 100px;
	height: 35px;
	border-radius: 3px;
	background-color: #0d80bc;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	margin-top: 5px;
}

.btn-ok:hover {
	color: #0d80bc;
	background-color: #fff;
	border: solid 1px #0d80bc;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.btn-back-login{
	width: 100%;
}

#cloudfileModal table{
	border: solid 1px rgba(153,153,153,0.3);
}

/* Footer*/
.footer-secondary {
	padding: 3% 0%;
}

/* Media Queries*/
@media screen and (max-width: 1200px) {
	.form-center form {
	width: 65%;
	}
}