/* General styles */
.content {
	min-height: 70%;
}

.text-blue {
	color: #0d80bc;
}

.text-grey {
	color: #666;
}

.text-small{
	font-size: 0.9em;
}

/* empty cases */
.content-empty{
	margin: 15px 0px;
}

.content-empty ul{
	padding-left: 20px;
}

.content-empty ul li{
	list-style: disc;
}

/* terms and conditions, privacy policy */

.terms ol li{
	list-style: decimal;
}

.terms h1{
	padding-top: 10px;
}

/* Header and Nav bar */
header {
	height: 50px;
	-webkit-box-shadow: 3px 3px 3px rgba(153,153,153,0.2);
	box-shadow: 3px 3px 3px rgba(153,153,153,0.2);
	padding: 5px 0px;
}

.navbar-header {
	margin-top: 8px;
}

.navbar-header li {
	float: left;
	margin-right: 10px;
}

.navbar-header a {
	display: inline-block;
	width: 40px;
	text-align: center;
}

.navbar-header li:first-child a {
	text-align: right;
}

.navbar-header li:last-child {
	margin-right: 0px;
}

.navbar-header .glyphicon,.fa {
	font-size: 1.9em;
	color: #666;
}

.navbar-header .fa {
	margin-top: 2px;
	text-align: right;
}

.jobcart-icon {
	position: relative;
}

.cart-dynamic {
	display: block;
	background: url("../assets/mobile-sprites.png") top left no-repeat;
	width: 35px;
	height: 29px;
	background-position: -10px -10px;
}

.jobcart-count {
	position: absolute;
	font-size: 1.1em;
	font-weight: 600;
	color: #3db0e6;
	top: -2px;
	left: 5px;
}

/* Search Bars */
.search-primary {
	background: url('../assets/bkg.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0px;
}

.search-primary h1 {
	font-size: 18px;
	margin-top: 10px;
	color: #222;
	text-transform: uppercase;
}

.search-input {
	position: relative;
}

.search-input .glyphicon {
	position: absolute;
	top: 10px;
	left: 10px;
	color: #999;
}

.search-input input {
	padding-left: 30px;
}

.search-secondary {
	background-color: rgba(202,202,202,0.3);
	padding: 8px 0px;
}

.search-bar .search-inline {
	padding: 8px;
	border-radius: 5px;
	background-color: rgba(202,202,202,0.3);
}

.search-bar h2{
	line-height: 1.2em;
}

.search-inline div {
	float: left;
	margin-right: 5px;
}

.search-inline div:first-child {
	width: 78%;
}

.search-inline div:last-child {
	width: 20%;
	margin-right: 0px;
}

.search-inline input {
	padding-left: 5px;
}

/* Links */
.link-group {
	border: solid 1px #d5d5d5;
	border-radius: 5px;
	margin: 10px 0px;
}

.link-group .mb-link {
	border-bottom: solid 1px #e5e5e5;
}

.link-group .mb-link:last-child {
	border-bottom: none;
}

.mb-link {
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 10px;
}

.mb-link .glyphicon {
	display: inline-block;
}

.mb-link p {
	margin-bottom: 0px;
}

.link-brightblue {
	background-color: #3db0e6;
}

.link-brightblue a {
	color: #fff;
}

.subscription .fa {
	display: inline-block;
	width: 30px;
	margin: 4px 5px 0px 0px;
	float: left;
	color: #fff;
}

.subscription h5{
	display: block;
	float: left;
}

.cart-icon {
	display: block;
	background: url("../assets/mobile-sprites.png") top left no-repeat;
	width: 20px;
	height: 14px;
	background-position: -10px -114px;
	float: left;
	margin-right: 3px;
}

.link-grey {
	background: rgb(249,252,247); /* Old browsers */
	background: -webkit-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%);
	background: -moz-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%);
	background: -o-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%);
	background: -ms-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%);
	background: linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
}

.link-blue {
	background: rgb(242,249,254); /* Old browsers */
	background: -webkit-linear-gradient(top, rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%);
	background: -moz-linear-gradient(top, rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%);
	background: -o-linear-gradient(top, rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%);
	background: linear-gradient(top, rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */
}

/* Job list */
.job-list h1{
	font-size: 18px;
}

.job-list .mb-link {
	padding: 15px 0px;
	border-bottom: solid 1px #e5e5e5;
}

.job-list .job-title {
	font-size: 1.1em;
}

.job-list .job-info {
	font-size: 0.9em;
	color: #333;
}

.jobcart-active {
	display: block;
	background: url('../assets/mobile-sprites.png') top left no-repeat;
	width: 35px;
	height: 22px;
	background-position: -10px -82px;
}

.jobcart-empty {
	display: block;
	background: url('../assets/mobile-sprites.png') top left no-repeat;
	width: 35px;
	height: 23px;
	background-position: -10px -49px;
}

.pull-down {
	padding: 15px 0px;
}

.pull-down p {
	color: #999;
}

.pull-down .glyphicon {
	font-size: 1.8em;
}

/* Job Cart */
.jobcart-list .row {
	padding: 10px 0px;
	border-bottom: solid 1px #e5e5e5;
}

.jobcart-list .row:last-child {
	border-bottom: none;
}

.jobcart-list h1 {
	margin: 10px 0px 0px 0px;
}

.jobcart-list p {
	margin-bottom: 0px;
}

.jobcart-list .job-info,a {
	font-size: 0.9em;
}

.jobcart-msg{
	font-size: 16px;
	margin: 10px 0px !important;
}

/* Job Description */
.job-description {
	padding-bottom: 60px;
	background-color: rgba(244,244,244,0.8);
}

.job-description h1{
	margin-top: 10px;
}

.white {
	-webkit-box-shadow: 3px 3px 3px rgba(153,153,153,0.2);
	box-shadow: 3px 3px 3px rgba(153,153,153,0.2);
	background: #fff;
	padding: 10px 0px;
}

.job-index-link {
	width: 120px;
	height: 40px;
	margin: 5px auto;
	position: relative;
}

.arrow-link i {
	color: #3db0e6;
	font-size: 40px;
	font-weight: 600;
}

.job-index {
	display: block;
	margin: 0px auto;
	padding-top: 10px;
}

.fa-angle-left {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.fa-angle-right {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.share-job {
	float: left;
	margin-right: 10px;
}

.share-job h5 {
	margin-top: 10px;
}

.share-job i {
	font-size: 20px;
	margin-right: 5px;
}

.social-network .share-job:last-child {
	padding-top: 7px;
}

.social-network .fa-envelope-o {
	color: #999;
}

.social-network .fa-linkedin {
	color: #0073b2;
}

.social-network .fa-facebook {
	color: #3b5998;
}

.social-network .fa-twitter {
	color: #00cdff;
}

.social-network .fa-google-plus {
	color: #da4835;
}

.social .fa {
	display: inline-block;
	width: 30px;
	float: left;
	margin-right: 10px;
}

.social p {
	display: inline-block;
	float: left;
}

.action {
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 8px 0px;
	background-color: #222;
}

.social-network .col-xs-2 span{
	display: block;
	margin: 10px 0px;
}

/* Form */
.form-title {
	margin: 20px 0px 10px 0px;
	font-size: 20px;
	text-transform: uppercase;
	color: #0d80bc;
}

.search-inline input {
	height: 45px !important;
}

.form-head {
	height: 35px;
	margin: 15px 0px;
	background-color: rgba(202,202,202,0.3);
}

.form-head h4 {
	margin: 8px 0px;
	color: #0d80bc;
	text-transform: uppercase;
}

.form-body {
	padding: 10px 0px;
}

.form-group {
	padding: 3px 0px;
}

.form-body input {
	padding-left: 5px;
}

.form-control:focus {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(102, 175, 233, 0.6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(102, 175, 233, 0.6);
}

.form-body select {
	padding: 5px 0px 0px 5px;
}

.cloud-drive-logo {
	width: 50%;
	max-width: 180px;
	float: left;
}

.load-resume .form-group {
	margin-bottom: 3px;
}

.contact .glyphicon {
	margin-right: 5px;
	color: #3db0e6;
}

/* Job titles header in app process */
.apply-info p {
	margin: 10px 0px 0px 0px;
	color: #999;
}

.apply-jobtitle {
	font-style: italic;
	color: #666;
}

.apply-info > span:after {
	content: ";\a";
	white-space: pre;
}

.apply-info span:last-child:after {
	content: "";
}

.linkedin-autofill h5 {
	margin-bottom: 10px;
}

.input-inline div {
	float: left;
}

.input-inline div:first-child {
	width: 10%;
	margin-right: 5%;
}

.input-inline div:last-child {
	width: 85%;
	margin-right: 0px;
}

.input-phone div:first-child {
	width: 25%;
	margin-right: 5%;
}

.input-phone div:last-child {
	width: 70%;
	margin-right: 0px;
}

.static-sgd{
	padding-top: 5px;
}

.input-salary div:first-child{
	width: 10%;
	margin-right: 5%;
}

.input-salary .salary{
	width: 55% !important;
}

.input-salary div:last-child{
	width: 30%;
}

.check-box {
	font-size: 12px;
	margin-bottom: 20px;
	padding: 0px;
}

.job-alert {
	padding: 2%;
	margin: 5% 0%;
	background-color: rgba(230,242,245,0.2);
	border: solid 1px rgba(186,186,186,0.4);
	border-radius: 5px;
}

/* Buttons */
.btn {
	height: 45px;
}

.search-primary .btn {
	width: 30%;
	margin-top: 10px;
	font-size: 1.1em;
}

.search-inline .btn {
	width: 100%;
}

.btn-primary {
	background-color: #3db0e6;
	border: solid 1px #3db0e6;
	color: #fff;
}

.btn-primary:hover {
	background-color: #fff;
	border: solid 1px #3db0e6;
	color: #666;
}

.btn-search-small {
	height: 45px;
}

.action .btn {
	width: 49%;
	border: solid 1px #999;
	font-size: 1.1em;
}

.action .btn-apply {
	background-color: #bbbbbb;
	border: solid 1px #666;
	color: #222;
}

.action .btn-apply:hover {
	background-color: #ececec;
}

.action .btn-add {
	background-color: #3db0e6;
	border: solid 1px #3db0e6;
	color: #fff;
}

.action .btn-remove{
	background-color: #f6f6f6;
}

.action .btn-primary{
	width: 100%;
}

.btn-checkout {
	width: 100%;
	font-size: 1.3em;
}

.btn-form {
	width: 100%;
	background-color: #0d80bc;
	border: solid 1px #0d80bc;
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
}

.btn-form:hover {
	background-color: #fff;
	border: solid 1px #0d80bc;
	color: #333;
}

.btn-grey {
	background-color: #999;
	border: solid 1px #666;
}

.btn-grey:hover {
	background-color: transparent !important;
	border: solid 1px #666;
}

.btn-load {
	border: solid 1px #999;
	background-color: #b8b8b8;
	color: #fff;
}

.btn-load:hover {
	border: solid 1px #999;
}

.btn-ok {
	width: 100px;
}

.btn-cal{
	width: 100% !important;
	height: 30px !important;
	font-size: 12px !important;
	text-transform: none !important;
	margin: 2px 0px 2px 5px !important;
}

/* Success message */
.msg-success {
	background-color: #74c399;
	padding: 5px 10px;
	border-radius: 5px;
}

.msg-success p {
	color: #fff;
}

/* About RGF - General styling */

.nav-secondary h1{
	margin: 20px 0px 10px 0px;
	text-transform: uppercase;
	color: #0d80bc;
}

.nav-secondary li{
	font-size: 14px;
	color: #999;
	float: left;
	padding: 0% 4%;
	border-right: solid 1px #ccc;
}

.nav-secondary a{
	font-size: 1em;
}

.nav-secondary li:first-child{
	padding-left: 0%;
}

.nav-secondary li:last-child{
	padding-right: 0%;
	border-right: none;
}

.abt h2{
	font-weight: 700;
	text-transform: uppercase;
}

.abt ul{
	padding-left: 20px;
}

.abt li{
	list-style: disc;
}

.abt a{
	font-size: 1em;
}

/* About RGF - Our Services */

.grp-info{
	margin: 20px 0px;
}

.grp-info h4{
	float: left;
	margin-right: 15px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

/* About RGF - Our Process */

.abt h4{
	font-size: 14px;
	font-weight: 700;
	color: #555; 
}

/* About RGF - Our Team */

.team-intro{
	margin: 10px 0px;
	font-size: 13px;
	color: #666;
}

.abt img+p{
	font-size: 0.9em;
}

/* Modal */
.modal-content {
	width: auto;
	margin: 20% auto;
}

.modal-body {
	padding: 20px;
}

.modal-title {
	font-size: 18px;
	color: #0d80bc;
	margin-bottom: 10px;
}

.modal-footer {
	padding: 10px 0px 0px 0px;
}

.btn-modal {
	width: 100%;
	height: 45px;
	border-radius: 3px;
	background-color: #0d80bc;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
}

.btn-modal:hover {
	color: #0d80bc;
	background-color: #fff;
	border: solid 1px #0d80bc;
}

.table a > .fa{
	color: #0d80bc;
	font-size: 1em;
}

.folder-open{
	font-size: 0.9em;
	color: #999;
}

.folder-open .fa{
	font-size: 1em;
	color: #999;
}

.folder-child{
	margin-left: 20px;
}

/* Footer */
.footer-primary {
	margin-top: 20px;
	padding: 20px 0px;
	background: rgb(12,11,11); /* Old browsers */
	background: -webkit-linear-gradient(top, rgba(12,11,11,1) 0%, rgba(34,34,34,1) 100%);
	background: -moz-linear-gradient(top, rgba(12,11,11,1) 0%, rgba(34,34,34,1) 100%);
	background: -o-linear-gradient(top, rgba(12,11,11,1) 0%, rgba(34,34,34,1) 100%);
	background: -ms-linear-gradient(top, rgba(12,11,11,1) 0%, rgba(34,34,34,1) 100%);
	background: linear-gradient(top, rgba(12,11,11,1) 0%, rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0b0b', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

.footer-primary p {
	color: #838489;
}

.footer-primary .small {
	font-size: 0.8em;
}

.footer-primary .link-lg {
	display: inline-block;
	font-size: 1.1em;
	margin: 8px;
}

.footer-secondary {
	border-top: solid 1px #e3e3e3;
	margin-top: 30px;
	padding: 10px 0px;
}

.footer-secondary p {
	font-size: 0.9em;
	line-height: 14px;
	margin-bottom: 5px;
}